@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --color-sarga: 248, 207, 69;
        --color-szurke: 67, 75, 88;
        --color-smaragd: 16, 74, 61;
        --color-zold: 16, 74, 61;
    }
}

.kollekcio-grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 75px 300px 300px;
    grid-template-areas:
        ". . ."
        "text img2 img3"
        "img1 img2 img3";

    @media (max-width: 976px) {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas:
            "text"
            "img1";
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 300px;
        grid-template-areas:
            "text"
            "img1";
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 300px;
        grid-template-areas:
            "text"
            "img1";
    }
}

#bgr {
    grid-area: 1 / 1 / 4 / 4;
    height: 500px;

    @media (max-width: 768px) {
        grid-area: 1 / 1 / 2 / 1;
    }
}

#text {
    grid-area: text;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

.swiper {
    /*
    width: 600px;
    height: 300px;
    */
}

.hero-swiper-pagination {
    position: static !important;
    width: auto !important;
    min-width: 2rem;
}

.swiper-pagination-bullet-active {
    background: rgb(var(--color-sarga)) !important;
}

.tile {
    position: relative;

    &:hover {
        .tile__image {
            &:before {
                background: rgba(0, 0, 0, 0.4);
                /*background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.5));*/
            }
        }

        .tile__icon {
            height: 54px;
        }

        .tile__header {
            margin-bottom: 34px;
        }
    }
}

.tile__image {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.tile__icon {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 24px;
    z-index: 7;
    height: 0;
    font-size: 54px;
    color: #fff;
    transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);

    .icon-arrow2 {}
}

.tile__header {
    position: absolute;
    bottom: 25px;
    left: 20px;
    z-index: 7;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

/* MOBILE NAV */
#overlay-button {
  position: absolute;
  //top: 8px;
  //right: 10px;
  padding: 26px 11px;
  z-index: 99;
  cursor: pointer;
  user-select: none;
  span {
      height: 2px;
      width: 30px;
      border-radius: 2px;
      background-color: black;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 2px;
          width: 30px;
          border-radius: 2px;
          background-color: black;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: #333332;
    }
}
#nav-mobile {
    input[type=checkbox] {
      display: none;

      &:checked ~ #overlay {
        visibility: visible;
      }

      &:checked ~ #overlay-button {
        &:hover span, span{
          background: transparent;
        }
        span {
          &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
          }
          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
    }
}

#overlay {
  z-index: 90;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
  ul {
    list-style-type: none;
    li {
      padding: 1.5em;
      line-height: 1.5rem;
      a {
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}


.breadcrumbs__list {
    list-style: none;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .breadcrumbs__item {
        float: left;
        list-style: outside none none;
        font-size: 12px;
        line-height: 21px;

        &:after {
            display: block;
            margin: -1px 8px 0;
            content: "›";
            float: right;
            font-size: 20px;
            line-height: 21px;
            font-weight: 300;
        }

        &:last-child::after {
            display: none;
        }

        a {
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                margin: 13px 0 0 0;
                position: absolute;
                content: "";
                height: 2px;
                background: #000;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
                font-weight: 300;
            }
        }
    }
}

.detail-page-swiper-thumbs {
    .swiper-slide {
        img {
            /*aspect-ratio: 3/2;*/
            /*object-fit: cover;*/
        }
    }
}

.catalog-icons__item {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3em;

    span {
        margin: 1em 0;
        display: block;
    }

    .jsTooltipBig {
        cursor: pointer;
        background: transparent url(../img/icons/tooltip-icon2.svg) no-repeat;
        margin: 0;
        width: 33px;
        height: 32px;
        position: absolute;
        left: 96px;
        top: 0;

        &:hover {
            background-image: url(../img/icons/tooltip-icon.svg);
        }
    }
}

.property__header {
    h3 {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 10px;
    }
}

ul.property__list {
    li.property__item {
        &:first-child {
            .property__inner {
                border-top: 1px solid #b2b2b2;
            }
        }

        .property__inner {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #b2b2b2;

            .property__name {}

            .property__value {}
        }
    }
}

.door-fronts-swiper-thumbs {
    .swiper-slide {
        cursor: pointer;
    }

    .swiper-slide-thumb-active {
        border: black solid 1px;
    }
}


.doors_colors__variant-set {
    .door_variant {
        img {
            padding: .25rem;
            border: 1px solid rgba(0, 0, 0, 0);

            &:hover {
                border: 1px solid rgba(0, 0, 0, 1);
            }
        }
    }

    .door_variant.active {
        img {
            border: 1px solid rgba(0, 0, 0, 1);
        }
    }
}

.qtip-light {
    max-width: 380px;
    min-width: 280px;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
    color: #000;
    font-size: 16px;
    line-height: 26px;
}

@media (max-width: 560px) {
    .qtip-light {
        width: 80% !important;
        max-width: none !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

.qtip-close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
